/* estilos generales */
body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

/* Eliminar estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header logo */
.logo {
  text-align: left;
  padding: 20px;
  width: 100px;
}

.imagen img {
  width: 100%;
  height: auto;
}

/* estilos de header */
.barra-superior {
  display: flex;
  justify-content: center;
  gap: 600px;
  padding: 10px;
  align-items: center;
  align-content: top;
  height: 100px;
}

.botones-encabezado a {
  border: none;
  margin-left: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ddd;
  text-decoration: none;
  color: black;
}

.botones-encabezado a:hover {
  background-color: #bbb;
}

/* estilos de footer */
.footer {
  padding: 20px;
  text-align: center;
}

.footer .item {
  display: inline-block;
  margin: 0 35px;
}

.footer .icono {
  width: 30px;
  height: 30px;
}

footer p {
  text-align: center;
  margin: 0;
  font-size: 14px;
}

.footer .x-icon {
  padding: 2px;
}

.descripcion {
  border: 2px solid #8B4513;
  border-radius: 10px;
  padding: 15px;
  color: #8B4513;
}

/* estilos de main */
main {
  text-align: left;
  padding: 20px;
}

main h1,
section h2 {
  color: #9D5225;
}

main p.descripcion {
  border: 2px solid #8B4513;
  border-radius: 10px;
  padding: 15px;
  background-color: #FFF8F0;
  line-height: 1.7;
  margin: 20px 0;
  text-align: justify;
}

/* estilos de imagen */
.container .imagen img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}

.contenido .imagen img {
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
}

/* estilos de section */
section {
  padding: 20px;
}

section hr {
  margin: 20px 0;
}

section .logo-cuchillo {
  width: 100px;
  height: auto;
}

.caracteristicas .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}

.caracteristicas .icono {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.productos .contenido {
  text-align: center;
  width: 100%;
}

/* estilos para productos */
.carrito .contenido {
  width: 80%;
  margin: 0 auto;
}
.carrito .categorias ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* filtros */
.categorias {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.0666666667);
  text-align: left;
  margin-bottom: 30px;
}
.categorias p {
  font-weight: 600;
  margin-bottom: 8px;
}

/* grid productos - mobile first */
.productos-destacados-contenedor {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.productos-destacados {
  width: 100%;
  text-align: center;
  align-content: center;
  justify-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1333333333);
}
.productos-destacados .imagen-producto {
  display: flex;
  width: 60%;
  object-fit: cover;
  margin-bottom: 10px;
}
.productos-destacados p {
  font-size: 0.8rem;
  margin-bottom: 2px;
}
.productos-destacados span {
  font-size: 0.8rem;
}
.productos-destacados button {
  font-size: 0.75rem;
  padding: 3px 6px;
}

/* estilos para comprar */
section.compra {
  text-align: center;
  padding: 20px;
}

.descripcion-comprar {
  text-align: center;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}

.descripcion-compra .texto h1 {
  text-align: center;
}

.descripcion-compra .texto p {
  text-align: center;
}

.compra .container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cesta .texto h3 {
  text-align: center;
  margin-bottom: 10px;
}

.cesta .texto ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 10px;
}

img.imagen-carrito {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

button.btn.btn-secondary.btn-sm {
  margin-top: 15px;
}

/* tablet */
@media (min-width: 768px) {
  main {
    padding: 40px;
  }
  .productos .contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  .carrito .contenido {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  img.imagen-carrito {
    width: 40%;
  }
  .carrito .contenido .categorias {
    flex-shrink: 0;
    height: fit-content;
    position: sticky;
    top: 100px;
  }
  .productos-destacados-contenedor {
    grid-template-columns: repeat(2, 1fr);
    width: 72%;
    gap: 20px;
  }
  .descripcion-compra .texto h1 {
    text-align: left;
  }
  .descripcion-compra .texto p {
    text-align: left;
  }
}
/* desktop */
@media (min-width: 1024px) {
  .contenido {
    max-width: 80%;
    margin: auto;
  }
  .navbar-brand img {
    width: 100px;
  }
  .container .imagen img {
    width: 60%;
  }
  .texto h1 {
    text-align: left;
  }
  .texto p {
    text-align: left;
  }
  .productos .contenido {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .carrito .contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
  }
  .carrito .categorias ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .carrito .contenido .categorias {
    flex-shrink: 0;
    height: fit-content;
    position: sticky;
    top: 100px;
  }
  .productos-destacados-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 900px;
  }
  .descripcion-comprar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
  }
  .cesta {
    margin: 0 auto;
  }
  .descripcion-compra .texto h1 {
    text-align: left;
  }
  .descripcion-compra .texto p {
    text-align: left;
  }
  img.imagen-carrito {
    width: 15%;
  }
  .procesar-compra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
  form {
    min-width: 40%;
  }
}

/*# sourceMappingURL=main.css.map */
