@import "base/_reset";
@import 'components/_header';
@import 'components/_footer';
@import 'pages/_home';
@import 'pages/_productos';
@import 'pages/_comprar';
@import 'layout/_mq-tablet';
@import 'layout/_mq-desktop';