/* desktop */
@media (min-width: 1024px) {
    .contenido {
        max-width: 80%;
        margin: auto;
    }

    .navbar-brand img {
        width: 100px;
    }

    .container .imagen img {
    width: 60%;
    }  

    .texto h1 {
        text-align: left;
    }

    .texto p {
        text-align: left;
    }

    .productos {
        .contenido {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
    }

    .carrito {
        .contenido {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 75%;
        }
        .categorias ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .carrito .contenido .categorias {
        flex-shrink: 0;
        height: fit-content;
        position: sticky;
        top: 100px;
    }

    .productos-destacados-contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 900px;
    }

    .descripcion-comprar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
    }

    .cesta {

        margin: 0 auto;
    }

    .descripcion-compra .texto h1 {
        text-align: left;
    }

    .descripcion-compra .texto p {
        text-align: left;
    }

    img.imagen-carrito {
        width: 15%;
    }

    .procesar-compra {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }

    form{
        min-width: 40%;
    }
}