/* tablet */
@media (min-width: 768px) {
    main {
        padding: 40px;
    }

    .productos {
        .contenido {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
        }
    }

    .carrito .contenido {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    img.imagen-carrito {
        width: 40%;
    }

    .carrito .contenido .categorias {
        flex-shrink: 0;
        height: fit-content;
        position: sticky;
        top: 100px;
    }

    .productos-destacados-contenedor {
        grid-template-columns: repeat(2, 1fr);
        width: 72%;
        gap: 20px;
    }

    .descripcion-compra .texto h1 {
        text-align: left;
    }

    .descripcion-compra .texto p {
        text-align: left;
    }
}