/* estilos de footer */
.footer {
    padding: 20px;
    text-align: center;
}

.footer .item {
    display: inline-block;
    margin: 0 35px;
}

.footer .icono {
    width: 30px;
    height: 30px;
}

footer p {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

.footer .x-icon {
    padding: 2px;
}