/* estilos generales */
body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

/* Eliminar estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}