.descripcion {
    @include borde-jamon;
    color: $color-jamon;
}

/* estilos de main */
main {
    text-align: left;
    padding: 20px;
}

main h1,
section h2 {
    color: #9D5225;
}

main p.descripcion {
     @include borde-jamon;           
    background-color: #FFF8F0; 
    line-height: 1.7;
    margin: 20px 0;
    text-align: justify;
}

/* estilos de imagen */
.container .imagen img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

.contenido .imagen img {
    width: 90%;
    max-width: 350px;
    border-radius: 10px;
}

/* estilos de section */
section {
    padding: 20px;
}

section hr {
    margin: 20px 0;
}

section .logo-cuchillo {
    width: 100px;
    height: auto;
}

.caracteristicas .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.caracteristicas .icono {
    width: 80px;
    height: 80px;
    object-fit: contain;
}