 .productos {
    .contenido {
        text-align: center;
        width: 100%;
    }
}


/* estilos para productos */
 .carrito {
    .contenido {
        width: 80%;
        margin: 0 auto;

    }
    .categorias ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

/* filtros */
.categorias {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0001;
    text-align: left;
    margin-bottom: 30px;

        p {
            font-weight: 600;
            margin-bottom: 8px;
        }
    }

/* grid productos - mobile first */
.productos-destacados-contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr); // MOBILE
    gap: 10px;    // antes 15px → reduce altura total
}

.productos-destacados {
    width: 100%;
    text-align: center;
    align-content: center;
    justify-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 6px #0002;

    .imagen-producto {
        display: flex;
        width: 60%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    p {
        font-size: 0.8rem;
        margin-bottom: 2px;
    }

    span {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.75rem;
        padding: 3px 6px;
    }
}
